.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60dvw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 10;
  border-radius: 8px;
  text-wrap: wrap;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar .logo span {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.navbar .nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .nav-links li {
  margin-left: 30px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
  color: #6985ff;
}

button {
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.role {
  font-size: small;
  padding: 0.4rem;
}

.user-info {
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 80dvw;

  }

}

.user-info {
  color: black;
}
