<div class="container py-4 bg-white text-dark rounded shadow-sm">
  <button class="no-print btn btn-secondary" (click)="cerrar()">cerrar</button>
  <div class="text-center mb-4 border-bottom pb-3">
    <h2 class="fw-bold mb-0 pb-0">Reporte de Atención Técnica</h2>
      <p class="p-0 m-0">Informática</p>
    <p class="p-0 m-0">Hospital General Tipo I de Tecpán Guatemala</p>
    <p class="mb-1"><strong>Ticket No.:</strong> {{ ticket.ticket }}</p>
    <p class="mb-0"><strong>Fecha de Solicitud:</strong> {{ ticket.fecha_solicitud | date:'fullDate' }}</p>
  </div>

  <div class="mb-4">
    <h5 class="border-start border-4 ps-2 text-primary">Datos del Solicitante</h5>
    <div class="row">
      <div class="col-md-6"><strong>Nombre:</strong> {{ ticket.nombre_solicitante }}</div>
      <div class="col-md-6"><strong>Servicio:</strong> {{ ticket.servicio }}</div>
      <div class="col-md-6"><strong>Prioridad:</strong> {{ ticket.prioridad }}</div>
      <div class="col-md-6"><strong>Estado:</strong> {{ ticket.estado }}</div>
      <div class="col-md-6"><strong>Atención en:</strong> {{ ticket.atencion_en }}</div>
    </div>
  </div>

  <div class="mb-4">
    <h5 class="border-start border-4 ps-2 text-primary">Información del Equipo</h5>
    <div class="row">
      <div class="col-md-6"><strong>Número de Bien:</strong> {{ ticket.numero_bien }}</div>
      <div class="col-md-6"><strong>Descripción del Equipo:</strong> {{ ticket.descripcion_equipo }}</div>
    </div>
  </div>

  <div class="mb-4">
    <h5 class="border-start border-4 ps-2 text-primary">Detalle del Problema</h5>
    <p class="bg-light bg-opacity-50 p-3 border rounded-3">{{ ticket.detalle }}</p>
  </div>

  <div class="mb-4">
    <h5 class="border-start border-4 ps-2 text-primary">Insumos Utilizados</h5>
    <p class="bg-light bg-opacity-50 p-3 border rounded-3">{{ ticket.insumos_utilizados || 'N/A' }}</p>
  </div>
  <div class="mb-4">
    <h5 class="border-start border-4 ps-2 text-primary">Nota de trabajo:</h5>
    <p class="bg-light bg-opacity-50 p-3 border rounded-3">{{ ticket.nota }}</p>
  </div>






  <div class="mb-4">
    <h5 class="border-start border-4 ps-2 text-primary">Atención Realizada</h5>
    <div class="row">
      <div class="col-md-6"><strong>Fecha:</strong> {{ ticket.fecha_atencion | date:'fullDate' }}</div>
      <div class="col-md-6">
  <strong>Hora:</strong> {{ getHoraComoFecha() | date:'shortTime' }}
</div>

    </div>
  </div>

   <div class="mt-5">
    <p><strong>Técnico Responsable:</strong> {{ ticket.usuario }}</p>
    <p class="mt-4">Firma: <span class="border-bottom d-inline-block" style="width: 250px;"></span></p>
  </div>





  <div class="text-center no-print mt-4">
    <button class="btn btn-primary" (click)="imprimir()">
      <i class="bi bi-printer me-1"></i> Imprimir
    </button>
  </div>
</div>
